.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-image {
  display: flex;
  flex-direction: column;
  width: 512px;
  height: 512px;
  border: 1px solid black;
  margin: auto;
}

/* i {
  position: absolute;
} */

img {
  display: flex;
  align-items: center;
}

.hl {
  flex: 1;
  display: flex;
  width: 512px;
  border: 1px solid black;
}

.vl {
  flex: 1;
  border: 1px solid black;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
